<h2>Login</h2>

<div class="container">
  <div style="padding-bottom: 15px;">
    <div><label>Username</label></div>
    <div><input type="text"></div>
    <a href="">+ Description (Optional)</a>
  </div>

  <div style="padding-bottom: 15px;">
    <div><label>Password</label></div>
    <div><input type="password"></div>
  </div>

  <button type="button" class="btn btn-success" routerLink="/investments">
    Login
  </button>

  <div  style="padding-top: 15px;">
    <a href="">Forgot your username or password?</a>
  </div>
</div>
