<div class="container">
  <div class="row">
    <div style="float: none; margin: 0 auto;">
      <h1>Login</h1>

      <div style="background-color: #f5f9f7; padding: 30px; width: 600px">

        <div class="form-group" style="padding-bottom: 10px;">
          <div><label>Username</label></div>
          <div><input class="form-control" type="text"></div>
          <a href="">+ Description (Optional)</a>
        </div>

        <div style="padding-bottom: 25px;">
          <div><label>Password</label></div>
          <div><input class="form-control" type="password"></div>
        </div>

        <div>
          <button type="button" class="btn btn-success" routerLink="/investments">
            Login
          </button>
        </div>

        <div style="padding-top: 15px;">
          <a href="">Forgot your username or password?</a>
        </div>
      </div>

    </div>
  </div>
</div>
