<nav class="navbar navbar-expand-lg navbar-dark">
  <a class="navbar-brand" href="#">
    <img src="../assets/img/td-logo.png" style="width:60px">
    <label style="padding-left: 16px">MyFunds</label>
  </a>

<!--  <button class="navbar-toggler" type="button">
    <span class="navbar-toggler-icon"></span>
  </button>-->

  <div class="collapse navbar-collapse" style="height:80px">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item">
        <!--Rename to dashboard???-->
        <a class="nav-link" routerLink="/investments" routerLinkActive="active">My Investments</a>
      </li>
    </ul>
    <ul class="navbar-nav mr-auto">
      <li class="nav-item">
        <a class="nav-link" routerLink="/chequing-account" routerLinkActive="active">Chequing Account</a>
      </li>
    </ul>
    <ul class="navbar-nav mr-auto">
      <li class="nav-item">
        <a class="nav-link" routerLink="/settings" routerLinkActive="active">Settings</a>
      </li>
    </ul>
    <ul class="navbar-nav mr-auto">
      <li class="nav-item">
        <a class="nav-link" routerLink="/login" routerLinkActive="active">Login</a>
      </li>
    </ul>
  </div>
</nav>


