<div>
  <h1>Settings</h1>

  <div style="background-color: #f5f9f7; padding: 30px; width: 600px">
    <div>
      <div><label>Display name</label></div>
      <input class="form-control" type="text" value="Frankie">
    </div>

    <div>
      Toggle educational mode
      <label class="switch">
        <input type="checkbox">
        <span class="slider round"></span>
      </label>
    </div>

    <div>
      Toggle automatic transfers
      <label class="switch">
        <input type="checkbox">
        <span class="slider round"></span>
      </label>
    </div>

    <button type="button" class="btn btn-success" routerLink="/investments">
      Save
    </button>
  </div>
</div>
