<div class="container">
  <div class="row">
    <div style="float: none; margin: 0 auto;">
    <h1>Settings</h1>

      <div style="background-color: #f5f9f7; padding: 30px; width: 600px">
        <div style="padding-bottom: 25px">
          <h6>Display name</h6>
          <input class="form-control" type="text" value="Frankie">
        </div>

        <div>


          <div>
            <div class="float-left">
              <h6>Toggle educational mode</h6>
            </div>
            <div class="float-right">
              <label class="switch">
                <input type="checkbox">
                <span class="slider round"></span>
              </label>
            </div>
            <div class="clearfix"></div>
          </div>

          <div>
            <div class="float-left">
              <h6>Toggle automatic transfers</h6>
            </div>
            <div class="float-right">
              <label class="switch">
                <input type="checkbox">
                <span class="slider round"></span>
              </label>
            </div>
            <div class="clearfix"></div>
          </div>

          <div>
            <div class="float-left">
              <h6>Account type</h6>
            </div>
            <div class="float-right">
              <div class="radio">
                <input type="radio" name="optradio" checked>
                <label style="padding-left: 5px">Regular account</label>
              </div>
              <div class="radio">
                <input type="radio" name="optradio">
                <label style="padding-left: 5px">Risk adverse</label>
              </div>
            </div>
            <div class="clearfix"></div>
          </div>


        </div>



        <div class="float-right" style="padding-top:25px">
          <button type="button" class="btn btn-success" routerLink="/investments">
            Save
          </button>
        </div>
        <div class="clearfix"></div>

      </div>
    </div>
  </div>
</div>
